.container {
  // 最大寬度
  max-width: 1100px;
  // 內容寬度，就算內容不夠撐開，也會是 100%，這邊會是 max-width 寬度
  width: 100%;
  padding-left: $padding-x;
  padding-right: $padding-x;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    padding-left: $padding-x*2;
    padding-right: $padding-x*2;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // 去掉 col 多出來的部分
  margin-left: -$padding-x;
  margin-right: -$padding-x;
  @include media-breakpoint-up(md) {
    padding-left: -$padding-x*2;
    padding-right: -$padding-x*2;
  }
  >* {
    width: 100%;
    max-width: 100%;
    padding-left: $padding-x;
    padding-right: $padding-x;
  }
}

@each $name, $value in $cols {
  .col-#{$name} {
    width: $value;
    padding-left: $padding-x;
    padding-right: $padding-x;
    position: relative;
  }
}