.logo {
  @include textToImage('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg', 151px, 40px)
}

.menu {
  a {
    position: relative;
  }
  &__item {
    &.active {
      a {
        color: map-get($theme-colors, "primary");
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-color: map-get($theme-colors, "primary");
        }
      } 
    }
    a:hover {
      color: map-get($theme-colors, "primary");
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: map-get($theme-colors, "primary");
      }
    } 
  }
}

.object-fit-cover {
  object-fit: cover;
}