.card {
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
  &__header {
    border-bottom: 1px #00000021 solid;
    img {
      border-radius: 4px 4px 0 0;
    }
  }
  &__body {
    padding: map-get($space, "2");
  }
}