.navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  padding: 30px $padding-x;
  @include media-breakpoint-up(md) {
    padding: 30px $padding-x*2;
    border-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 30px 88px;
  }
  &__list {
    display: flex;
    &__item {
      * {
        text-decoration: none;
        color: lighten($secondary, 50%);
        &:hover {
          color: white;
        }
      }
    }
  }
}